{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orange</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.core.min.css">
    <link rel="stylesheet" href="static/css/index.css">
    <link href='https://cdn.boxicons.com/fonts/basic/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>


<body>
    <!--inicio del bloque de menu/nav bar-->
    {% block menu %}
        <header>
            <div class="left">
                <div class="menu-container">
                    <div class="menu" id="menu">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
                <div class="brand">
                    <img src="media/logo/icons8-orange-64.png" alt="">
                    <span class="name">Orange</span>
                </div>
            </div>

            <div class="right">
                <a href="" class="icon-header">
                    <img src="media/logo/basket-free-material-svgrepo-com.svg" alt="">
                </a>
                <a href="" class="icon-header">
                    <img src="media/logo/user-svgrepo-com.svg" class="user" alt="">
                </a>
            </div>
        </header>
        <div class="sidebar" id="sidebar">
            <nav>
                <ul>
                    <li>
                        <a href="" class="search">
                            <img src="media/logo/search-alt-svgrepo-com.svg" alt="">
                            <span>Search</span>
                        </a>
                    </li>
                    <li>
                        <a href="" class="" >
                            <img src="media/logo/home-1-svgrepo-com.svg" alt="">
                            <span>Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="" class="">
                            <img src="media/logo/laptop-alt-2-svgrepo-com.svg" alt="">
                            <span>Tecnology</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="media/logo/furniture-svgrepo-com.svg" alt="">
                            <span>Furniture</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="media/logo/sports-shoes-2-svgrepo-com.svg" alt="">
                            <span>Shoes</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="media/logo/men-svgrepo-com.svg" alt="">
                            <span>Men</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="media/logo/women-svgrepo-com.svg" alt="">
                            <span>Women</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="media/logo/smartphone-svgrepo-com.svg" alt="">
                            <span>Smartphones</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        
    {% endblock menu %}
    <!--fin del bloque de menu/nav bar-->

    <!--************************************ -->
    <!--inicio del bloque de contenido-->
    {% block contenido %}

    {% endblock contenido %}
    <!--fin del bloque de contenido-->
    <!--************************************ -->

    <!--************************************ -->
    <!--inicio del bloque de javaScript-->
    {% block js %}

    {% endblock js %}
    <!--fin del bloque de javaScript-->
    {% block footer %}
   
    {% endblock footer %}
    <script src="static/js/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
</body>

</html>