
{% block most_seller_tecno %}

<body>
    <div class="container my-5">
        <h2>Most seller</h2>
        <!-- Carrusel -->
        <div class="glide" id="glide_products">
            <div class="glide__track" data-glide-el="track">
                <ul class="glide__slides">
                    {% for product in products %}
                    {% if forloop.counter0|divisibleby:4 %}
                    <li class="glide__slide">
                        <div class="row">
                            {% endif %}
                            <div class="col-md-3 mb-4"> <!-- 4 cards por fila (12/3=4) -->
                                <div class="card h-100">
                                    <img src="{{ product.image_product.url }}" class="card-img-top"
                                        alt="{{ product.name }}">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ product.name }}</h5>
                                        <p class="card-text">{{ product.description }}</p>
                                        <p class="card-text">{{product.price}}$</p>
                                        <p class="card-text">{{product.category}}</p>  
                                    </div>
                                    <div class="card-footer">
                                        <div  class="d-flex justify-content-center align-items-center">
                                            <button type="button" class="btn btn-danger">Ver producto</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% if forloop.counter|divisibleby:4 or forloop.last %}
                        </div>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <!-- Bullets (puntos de navegación) -->
            <div class="d-flex justify-content-center align-items-center h-100">
                <div class="glide__bullets" data-glide-el="controls[nav]">
                    {% widthratio products|length 4 1 as total_slides %}
                    {% for i in "x"|ljust:total_slides %}
                    <button class="glide__bullet" data-glide-dir="={{ forloop.counter0 }}"></button>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
    <!-- Inicialización de Glide -->
    <script>
        new Glide('#glide_products', {
            type: 'carousel',
            perView: 1,  // 1 slide con 4 cards
            gap: 0,
            autoplay: 5000, // duracion para el cambio automatico
            animationDuration: 900, // duracion de la animacion de cambio entre slide
            breakpoints: {
                992: { perView: 1 },  // para que sea responsivo con los celus
            }
        }).mount();
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
    
{% endblock most_seller_tecno %}
</body>
</html>
